:root {
    --slate-blue: #A9B5D9;
    --clementine: #F2A477;
    --red-orange: #F29472;
    --baby-pink: #F2C4C4;
    --light-silver: #F2F2F2;

    --bg-color: var(--light-silver);
    --fg-color: var(--clementine);

    --bg-dark-color: var(--red-orange);
    --fg-dark-color: var(--baby-pink);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

html {
    align-items: center;
}

body {
    margin: 0 auto 0 auto !important;
}

#app.container {
    flex: 1;
    display: flex;
}
