<div id="conf">
    <h4>Você já está participando do Abaixo-Assinado</h4>
    <form @submit.prevent="formSubmit()"><!--container 3 + dados ajax-->
        <fieldset>
            <legend>Perfil</legend>
            <p class="text">Estes são seus dados armazenados no banco (navegador)</p>
            <dl>
                <dt>Aluno:</dt>
                <dd id="pnome">{{subscriber.name}}</dd>
                <dt>Apelido:</dt>
                <dd id="papelido">{{subscriber.nick}}</dd>
                <dt>Matrícula:</dt>
                <dd id="pmat">{{subscriber.registrationId}}</dd>
                <dt>Período:</dt>
                <dd id="pperiodo">{{subscriber.admissionDate}}</dd>
                <dt>Pólo:</dt>
                <dd id="ppolo">{{subscriber.from}}</dd>
                <dt>Curso:</dt>
                <dd id="pcurso">{{subscriber.course}}</dd>
                <dt>Data Adesão:</dt>
                <dd id="padesao">{{subscriber.createdAt}}</dd>
                <dt>Data última atualização:</dt>
                <dd id="plupdate">{{subscriber.lastUpdated}}</dd>
                <dt>Alterações restantes:</dt>
                <dd id="pupdates">{{subscriber.updateCredits}}</dd>
            </dl>
            <p class="text">
                <q id="pfrase">{{subscriber.message}}</q>
            </p>
            <button>Sair</button>
        </fieldset>
    </form>
</div>
