<head>
	<meta http-equiv="content-Type" content="text/html; charset=iso-8859-1" />
	<title>Abaixo-assinado</title> 
	</head>
	<body bgcolor="#FFFFFF">
		<table width="600px" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;font-size:1em;color:#525051;">
            <tr bgcolor="#000000">
                <td height="200px" width="50px"></td>
                <td width="500px" valign="middle"><img src="http://abaixoassinado.compcederj.com.br/images/mail/m_frase.png" alt="as tutorias serão instintas?" /></td>
                <td width="50px"></td>
            </tr>
            <tr>
                <td height="300px"></td>
                <td valign="middle"><img src="http://abaixoassinado.compcederj.com.br/images/mail/m_logo.png" alt="manifesto contra o fim das tutorias presenciais" /></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p>Caro colega graduando,</p>
                    <p>Nós, alunos de Computação, estamos organizando o manifesto contra o corte de carga horária das tutorias presenciais. </p>
                    <p>O objetivo deste movimento é apresentar, aos responsáveis administrativos do CEDERJ, através de um abaixo-assinado online, nossa indignação diante a alteração dos critérios de disponibilidade das tutorias.</p>
                    <p>O sistema do abaixo-assinado é abrangente. Permite a participação de alunos de qualquer curso do CEDERJ. Somos solidários a quem já passou, a quem passa e a quem passará por essa situação de incerteza.</p>
                    <p>Nós, alunos de Computação, convidamos você a conhecer mais sobre este manifesto e participar efetivamente para mudar este quadro crítico nas tutorias presenciais.</p>
                    <p align="right">Cordialmente, alunos de Computação</p>
                </td>
                <td></td>
            </tr>
           	<tr>
                <td height="100px"></td>
                <td align="center" valign="middle">
                    <p><a style="font-size:1.4em;color:#0000FF;" href="http://abaixoassinado.compcederj.com.br/" title="Link para o abaixo-assinado">http://abaixoassinado.compcederj.com.br/</a><br />
                	<span style="font-size:0.8em;">Leia a polítca de privacidade antes de aderir ao abaixo-assinado</span></p>
                </td>
                <td></td>
            </tr>
            <tr>
              <td height="25px"></td>
                <td align="center" valign="middle"><a href="http://compcederj.com.br/" title="Conheça o CompCEDERJ"><img border="0" src="http://abaixoassinado.compcederj.com.br/images/compcederj.png" alt="CompCEDERJ" /></a></td>
                <td></td>
            </tr>
        </table>
	</body>
</html>